* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 80px 120px;

}



h1 {
    text-align: center;
    margin-bottom: 24px;
}

.container-imagem img {
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container-tempo {
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin-bottom: 40px;

}

.container-tempo li {
    display: flex;
    justify-content: center;
    background-color: #c1c1c1;
    padding: 10px;
    width: fit-content;
    border-radius: 15px;
}

.container-tempo img {
height: auto;
width: 24px;
border-radius: 30px;
margin-top: 40px;
margin-bottom: 40px;


}



.container-imagem {
    display: flex;
    justify-content: center;

}

.texto1 {
    text-align: justify;
    margin-bottom: 40px;

}


.container-ingredientes li {
    background-color: #c1c1c1;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
.container-link {
    text-decoration: none;
    color: white;
    width: fit-content;
    background-color: rgb(47, 126, 119);
    padding: 20px 50px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 50px;
    box-shadow: 5px 5px 15px black;

}